@model IEnumerable<Event_Management.Models.Event>

@{
    ViewData["Title"] = "Wydarzenia";
}

<h1>Nadchodzące Wydarzenia</h1>

<p>
    @* Przycisk dodawania widoczny TYLKO dla Admina *@
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Dodaj nowe wydarzenie</a>
    }
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place.Name)
                </td>
                <td>
                    @* Logika wyświetlania przycisków *@

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                        <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
                        <text>|</text>
                    }

                    @* Przycisk Szczegóły widoczny dla każdego *@
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Szczegóły / Zapisz się</a>
                </td>
            </tr>
        }
    </tbody>
</table>